@import 'navbar.css';
@import 'achievement.css';
@import 'anim.css';
@import 'skills.css';

body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background-color: #242424;
    color: white;
    padding-top:10px;
    padding-left:90px;
    padding-right:90px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Left Side - Text */
.text-content {
    max-width: 50%;
}

h1 {
    font-size: 3rem;
}

.highlight {
    color: #e4b38f;
    font-weight: bold;
}

.description {
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.command {
    margin-top: 20px;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px;
    display: inline-block;
}

/* Marquee Logo Organisasi */
.mquee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    overflow: hidden;
}

.command-mquee {
    margin-top: 150px;
}

/* .mquee p{
    max-width: 50%;
    text-align: left;
} */

.marquee{
    width: 80%;
    height: 100px;
    margin-top:15px;
    min-width: 800; /* Biar that it doesnt go too small */
    max-width: 1200px; /* Prevent it from stretching too much */
    overflow: hidden;
}

.marqueecontent {
    display: inline-flex;
    animation: scrollMarquee 12s linear infinite;
}

.marqueecontent img {
    height: 60px; /* Adjust as needed */
    margin-right: 30px;
}

/* .marqueecontent {
    width: 200%;
    height: 100%;
    display: flex;
    align-items: center;
    background: url('https://i.imgur.com/bRQxbIP.png') repeat-x;
    background-size: contain;
    animation: scrollMarquee 16s linear infinite;
} */

@keyframes scrollMarquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); 
    }
}


/* Right Side - Image */
.image-content {
    position: relative;
    max-width: 60%;
    min-width: 30%;
}

.image-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.skillset{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1200px;
    margin: auto;
}

.custom-timer-bar{
    background-color: #aafaa3
}
.conf-button{
    border-radius: 5px;
    background-color: #b5df717e;
}